body {
  margin: 0;
  font-family: 'Ubuntu' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3EBF6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* placeholder remove later */
/* p {
  background-color: grey;
  padding: 20px;
  border: 1px solid black;
  margin: 40px;
} */